@{
    Dictionary<string, string> data = null;
    if (ViewBag.CustomSetting != null)
        data = ViewBag.CustomSetting as Dictionary<string, string>;
}


<div class="left-side-menu">

    <div class="h-100" data-simplebar>

        <!-- User box -->
        <div class="user-box text-center">

            <img src="~/admin/images/users/user-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
            <p class="text-muted left-user-info">@data["Name"]</p>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <a asp-action="LogOut" asp-controller="Admin" >
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul id="side-menu">

                <li class="menu-title">Accueil</li>

                <li>
                    <a asp-action="Index" asp-controller="Admin">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span class="badge bg-success rounded-pill float-end">9+</span>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="menu-title mt-2">Options</li>

                <li>
                    <a asp-action="Projets" asp-controller="Admin">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Projets </span>
                    </a>
                </li>

                <li>
                    <a href="#contacts" data-bs-toggle="collapse">
                        <i class="mdi mdi-book-open-page-variant-outline"></i>
                        <span> Catégories </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <div class="collapse" id="contacts">
                        <ul class="nav-second-level">
                            <li>
                                <a asp-action="Categories" asp-controller="Admin">Liste</a>
                            </li>
                            <li>
                                <a asp-action="AddCategorie" asp-controller="Admin">Ajouter</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                     <a asp-action="Ressources" asp-controller="Admin">
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Ressources </span>
                      </a>
                </li>

                <li>
                      <a asp-action="Features" asp-controller="Admin" >
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Fonctionnalités </span>
                      </a>       
                </li>
                
                <li>
                      <a asp-action="Skills" asp-controller="Admin" >
                        <i class="mdi mdi-calendar-blank-outline"></i>
                        <span> Compétences </span>
                      </a>       
                </li>

                <li>
                    <a asp-action="Settings" asp-controller="Admin">
                        <i class="mdi mdi-clipboard-outline"></i>
                        <span> Gestion </span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>